System.App.Web.TraineR/bin
System.App.Web.TraineR/obj
System.App.Web.TraineR/logs
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
System.App.Web.TraineR/Properties/PublishProfiles/Dont OVERWRITE s3db files in the server\!.pubxml.user
System.App.Web.TraineR/Logs/2022-04-23.log
.vs/System.App.Web.TraineR/v16/.suo
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
System.App.Web.TraineR/Properties/PublishProfiles/Dont OVERWRITE s3db files in the server\!.pubxml.user
.vs/System.App.Web.TraineR/v16/.suo
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
System.App.Web.TraineR/Properties/PublishProfiles/Dont OVERWRITE s3db files in the server\!.pubxml.user
.vs/System.App.Web.TraineR/v16/.suo
System.App.Web.TraineR/Properties/PublishProfiles/Dont OVERWRITE s3db files in the server\!.pubxml.user
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
System.App.Web.TraineR/Properties/PublishProfiles/Dont OVERWRITE s3db files in the server\!.pubxml.user
.vs/System.App.Web.TraineR/v16/.suo
.vs/System.App.Web.TraineR/v17/.suo
.vs/System.App.Web.TraineR/v17/fileList.bin
.svn/
System.App.Web.TraineR/Properties/PublishProfiles/
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
