System.App.Web.TraineR/bin
System.App.Web.TraineR/obj
System.App.Web.TraineR/logs
System.App.Web.TraineR/System.App.Web.TraineR.csproj.user
System.App.Web.TraineR/Properties/PublishProfiles/
.vs/
.svn/