<!-- Separate all app settings as a shared file to be shared among various related projects. -->
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- DEMO MODE -->
  <!--In demo mode, deidentification tooltip is shown; dynamic account login is enabled -->
  <add key="DemoMode" value="false"/>
  <add key="DefaultCulture" value="zh-CN"/>
  <add key="DefaultCultureCode" value="1"/>

  <!-- use as an API key when calling web service I/F, will be encrypted -->
  <add key="WebServiceConsumerId" value ="SyncTool"/>
  <!-- cookie time out. In minute. -->
  <add key="CookieTimeOut" value="60"/>
  <!-- time out for report editing session. In minute. -->
  <add key="ReportSessionTimeOut" value="20"/>

  <!-- Aliyun.OSS -->
  <add key="OSSEncryptedAccessKeyId" value="380b002a275217340a3d041973045120"/>
  <add key="OSSEncryptedAccessKeySecret" value="231b312525190b37511a08052d1f321b5415101a3758142e0f44000d3b51"/>
  <add key="OSSEndpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
  <!-- target folder -->
  <add key="OSSBucket" value="clinic"/>
  <!-- destination folder in the target bucket -->
  <add key="OSSFolder" value="rop"/>
  <!-- public URL for the target bucket. oss.brahma.top is a CNAME for clinic.oss-cn-hangzhou.aliyuncs.com -->
  <add key="OSSPublicUrl" value="http://clinic.oss-cn-hangzhou.aliyuncs.com/"/>
  
  <!-- true: always allow create account; false: only super users can create account -->
  <add key="AlwaysAllowCreateAccount" value="false"/>
  
  <add key="SuperAdministrator_Hint" value="yyyyMMdd"/>

  <!-- in MB -->
  <add key="ImageFileSizeLimit" value="10"/>
  <!-- sample email domains for seeding account data -->
  <add key="EmailDomains" value="zju.edu.cn,zjgsu.edu.cn,163.com"/>
  <!-- region/city-level supervisors, e.g. supervisor@hz.zj.cn, supervisor@sy.ln.cn -->
  <add key="Supervisors" value="supervisor"/>
  <!-- organization-level admins, e.g. root@xx.com, root@yy.cn -->
  <add key="Admins" value="root"/>
  <!-- system-level admins -->
  <add key="SuperUsers" value="zhangys@zjgsu.edu.cn,root@void.org"/>
  <!-- administrative regions. MUST use this format: XXcity.yyprovince.China -->
  <add key="Regions" value="Beiing.China,Shanghai.China,Guangzhou.Guangdong.China,Shenzhen.Guangdong.China,Hangzhou.Zhejiang.China,Taibei.Taiwan.China,Nanjing.Jiangsu.China,Chengdu.Sichuan.China"/>

  <!-- server local folder where uploaded images are stored. -->
  <add key="UploadedImageFolder" value="/Upload/Main/"/>

  <!-- A common prefix part of all thumbnail base64 strings. Define this prefix to improve db storing efficiency. -->
  <add key="ThumbnailPrefix" value="data:image/jpg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAFk9Q05DOFlOSE5kXllphd6QhXp6hf/CzaHe////////////////////////////////////////////////////2wBDAV5kZIV1hf+QkP//////////////////////////////////////////////////////////////////////////wAARCAAtADwDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwC"/>
</appSettings>