@using System.App.Model.Consts

<footer>
    <a href="#" onclick="alert('Yinsheng Zhang (Ph.D.)');" target="_blank" 
       style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
        &copy; @DateTime.Now.Year - Powered by TraineR
    </a>
</footer>