@using System.App.Model.Enums
@using System.App.Model.Consts
@using System.App.Model.Resources
@using System.App.Web.TraineR.Models.Domain
@using Newtonsoft.Json
@using System.App.Utility.Helpers

@{
    var TARGET_FIELD = "Inference2";

    var db = new NewbornContainer();

    var path = @"C:\Users\eleve\Documents\codex\py\keras\99. Deploy\dict_fundus_img.txt";

    using (var r = new StreamReader(path))
    {
        string json = r.ReadToEnd();
        var items = JsonConvert.DeserializeObject<Dictionary<string, string>>(json);

        int i = 1000; // batch size

        foreach(var pair in items)
        {
            var key = pair.Key;
            var value = pair.Value;
            var img = db.Image.FirstOrDefault(x=>x.Name == key);
            if (img==null)
            {
                <p>Image (@key) not found.</p>
                continue;
            }
            if(img.Type!= "眼底彩照" && img.Type != "fundus")
            {
                <p>Image (@key) Type: @img.Type</p>
            }
            img.Type = "眼底彩照";
            
            // img.Inference1 = value;
            // img.Inference2 = value;
            TypeHelper.SetPropertyValueByString(img, TARGET_FIELD, value);

            if (i-- < 0)
            {
                db.SaveChanges();
                db = new NewbornContainer();

                i = 1000;                
            }
        }

        db.SaveChanges();
    }
}